{% extends 'base.html' %}

{% load staticfiles i18n %}

{% block title %}Intenshala | Register {% endblock %}

{% block head %}
  <link href="{% static 'css/intern.css' %}" rel="stylesheet">
{% endblock head %}

{% block content %}
  <div class="container_fluid">
  <div class="signup">
     <div class="base">
            <img id="img_set" src="{% static 'images/register.jpg' %}">
                <h2>Create New Account.. </h2>
           <form id="register_box" action="/register/" method="post" role="form" >
            {% csrf_token %}
            {% for field in form.visible_fields %}
              <div class="form-group{% if field.errors %} has-error{% endif %}">
                <label for="{{ field.label }}">{{ field.label }}</label>
                {{ field }}
                {% if field.help_text %}
                  <span class="help-block">{{ field.help_text|safe }}</span>
                {% endif %}
                {% for error in field.errors %}
                  <label class="control-label">{{ error }}</label>
                {% endfor %}
              </div>
            {% endfor %}
            <button type="submit" class="btn btn-success btn-lg form-control">Register</button>
             <p> Already have an account ?<a href="/login/"> Sign in</a></p>


          </form>
            <hr/>
         
        </div>
             
             
              </div>
        </div>
      </div>
   
 
{% endblock  %}
